<div class="row">
        <div class="col-sm-6 mt-5 ml-5 mr-5 mb-5 mx-auto">
                <div class="card">
                        <div class="card-header bg-warning">
                                <h3 class="text-center text-light">Vendor Details</h3>
                        </div>
                        <div>
                                <ul class="list-group">
                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Name
                                                        <p class="float-right mt-auto">
                                                                {{vendor.vname}}
                                                        </p>
                                                </div>
                                        </li>

                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Company Register Number
                                                        <p class="float-right mt-auto">
                                                                {{vendor.regno}}
                                                        </p>
                                                </div>
                                        </li>

                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Vendor Type
                                                        <p class="float-right mt-auto">
                                                                {{vendor.vendor_type}}
                                                        </p>
                                                </div>
                                        </li>
                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Address
                                                        <p class="float-right mt-auto">
                                                                {{vendor.address}}
                                                        </p>
                                                </div>
                                        </li>

                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Email
                                                        <p class="float-right mt-auto">
                                                                {{vendor.email_address}}
                                                        </p>
                                                </div>
                                        </li>

                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Contact Number
                                                        <p class="float-right mt-auto">
                                                                {{vendor.contact_no}}
                                                        </p>
                                                </div>
                                        </li>

                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Country
                                                        <p class="float-right mt-auto">
                                                                {{vendor.country}}
                                                        </p>
                                                </div>
                                        </li>

                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        state
                                                        <p class="float-right mt-auto">
                                                                {{vendor.state}}
                                                        </p>
                                                </div>
                                        </li>
                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Website
                                                        <p class="float-right mt-auto">
                                                                {{vendor.website}}
                                                        </p>
                                                </div>
                                        </li>
                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Certificate Issued Date
                                                        <p class="float-right mt-auto">
                                                                {{vendor.cer_Issued_Date |date}}
                                                        </p>
                                                </div>
                                        </li>
                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Certificate Validity date
                                                        <p class="float-right mt-auto">
                                                                {{vendor.certificate_Validity_date |date}}
                                                        </p>
                                                </div>
                                        </li>
                                        <li class="list-group-item ">
                                                <div class="text-black mt-auto">
                                                        Year of Establishment
                                                        <p class="float-right mt-auto">
                                                                {{vendor.year_of_Establishment|date}}
                                                        </p>
                                                </div>
                                        </li>
                                </ul>
                        </div>
                </div>
        </div>
</div>
<br>