<div class="row">
  <div class="col-xs-11 mt-5 ml-5 mr-5 mb-5 mx-auto">
    <div class="card mt-5">
      <h1 class="mt-5 ml-5">E-wallet</h1>
      <form [formGroup]="payForm">
        <div class="row ml-5 mr-5">
          <div class="col-md-6 col-xs-12 mt-5">
            <label for="username">Username</label>
            <input type="text" class="form-control" placeholder="Enter User Name" formControlName="username"
              id="username" required>
            <div class="alert alert-danger" *ngIf="username.touched && username.invalid && username.errors.required">
              Name is required</div>
            <div class="alert alert-danger" *ngIf="username.invalid && username.touched">
              Invalid username
            </div>
          </div>
          <div class="col-md-6 col-xs-12  mt-5">
            <label for="ccnum">Credit card number</label>
            <input type="text" class="form-control" placeholder="Enter Card Number" formControlName="ccnum" id="ccnum"
              required>
            <div class="alert alert-danger" *ngIf="ccnum.touched && ccnum.invalid && ccnum.errors.required">Card Number
              is required</div>
            <div class="alert alert-danger" *ngIf="ccnum.invalid && ccnum.touched">
              Invalid card number
            </div>
          </div>
        </div>
        <div class="row ml-5 mr-5">
          <div class="col-md-6 col-xs-12  mt-5">
            <label for="expmonth">Expiry Month</label>
            <input type="text" class="form-control" placeholder="Enter expiry month" formControlName="expmonth"
              id="expmonth" required>
            <div class="alert alert-danger" *ngIf="expmonth.touched && expmonth.invalid && expmonth.errors.required">Exp
              month is required</div>
            <div class="alert alert-danger" *ngIf="expmonth.invalid && expmonth.touched">
              Invalid month
            </div>
          </div>
          <div class="col-md-6 col-xs-12 mt-5">
            <label for="expyear">Expiry Year</label>
            <input type="text" class="form-control" placeholder="Enter Expiry Year" formControlName="expyear"
              id="expyear" required>
            <div class="alert alert-danger" *ngIf="expyear.touched && expyear.invalid && expyear.errors.required">Expiry
              year is required</div>
            <div class="alert alert-danger" *ngIf="expyear.invalid && expyear.touched">
              Invalid year
            </div>
          </div>
        </div>
        <div class="row ml-5 mr-5">
          <div class="col-md-6 col-xs-12 mt-5">
            <label for="cvv">CVV</label>
            <input type="text" class="form-control" placeholder="Enter CVV" formControlName="cvv" id="cvv" required>
            <div class="alert alert-danger" *ngIf="cvv.touched && cvv.invalid && cvv.errors.required">CVV is required
            </div>
            <div class="alert alert-danger" *ngIf="cvv.invalid && cvv.touched">
              Invalid cvv
            </div>
          </div>
        </div>
        <div class="row mt-5 ml-5 mr-5 mb-5">
          <div class="col-6">
            <button type="submit" [disabled]="!payForm.valid" (click)="pay()" class="btn btn-success">Pay</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>