<div class="row">
    <div class="col-xs-11 mt-5 ml-5 mr-5 mb-5 mx-auto">
        <div class="card mt-5">
            <h1 class="mt-3 ml-5">Google Pay</h1>
            <form [formGroup]="payForm">
                <div class="row ml-5 mr-5">
                    <div class="col-md-6 col-xs-12 mt-5">
                        <label for="cname">Name</label>
                        <input type="text" class="form-control" placeholder="Enter Name" formControlName="cname"
                            id="cname" required>
                        <div class="alert alert-danger" *ngIf="cname.touched && cname.invalid && cname.errors.required">
                            Name is required</div>
                        <div class="alert alert-danger" *ngIf="cname.invalid && cname.touched">
                            Invalid name
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 mt-3">
                        <label for="uid">UPI ID</label>
                        <input type="email" class="form-control" placeholder="Enter UPI ID" formControlName="uid"
                            id="uid" required>
                        <div class="alert alert-danger" *ngIf="uid.touched && uid.invalid && uid.errors.required">UPI ID
                            is required</div>
                        <div class="alert alert-danger" *ngIf="uid.invalid && uid.touched">
                            Invalid ID
                        </div>
                    </div>
                </div>

                <div class="row mt-5 ml-5 mr-5 mb-5">
                    <div class="col-6">
                        <button type="submit" [disabled]="!payForm.valid" (click)="pay()"
                            class="btn btn-success">Pay</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>